 body{
 /*background-image:url('Images/background-desk.png');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position:top;*/
  background-size: 100% 25%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E
}



.intro{
line-height: 2;
}


img{
height:150px;
}
.circle {
  position: relative;
  border-radius: 100%;
  margin: 200px auto 0 auto;

}



.intro h1{
  color: #66BFBF;
  font-size: 6rem;


}

.intro h2{
font-size:  2.5rem;
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}

.top-container{

}

.who-are-you{
  width: 40%;
  margin: auto;
}


.middle-container{
margin: 100px 0;

}

.middle-container h1{
  color: #66BFBF;
  font-size: 6rem;
}

.skills-row{
  width: 50%;
  margin: 100px auto 100px auto;
}

 img.skills-row{
  width: 20rem;
  height: 20rem;
  margin: 3rem auto -2rem auto;
}


.bottom-container {
  text-align: left;
  margin: 100px auto 30px auto;
  line-height: 2;

}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto 100px auto;

/*border-style:dotted none none;
border-color:grey;
width:38px;
height-top:0px;
border-width:6px;
margin: 3rem auto 3rem auto;*/

}


img.dev{

 width: 20rem;
 height: 20rem;
 float: left;
 display: block;
 margin-left: auto;
 margin-right: 30px;

}

img.capwe{

  width: 20rem;
  height: 20rem;
  float: right;
  display: block;
  margin-left: 138px;
  margin-right: -59px;
  margin-top: -135px;
  text-align: left;
}



.edu h3{
  text-align: left;
  padding-top: 103px;
  margin-left: 60px;
}
.edu p {
  text-align: left;
  padding-left: 60px;
  line-height: 2;
  /*clear: right;*/
}

.into h1 {

  font-family: 'Sacramento', cursive;
  font-size: 90;
}




.top-cloud {
  position: absolute;
  right: 13px;
  top: 67px;
  width: 10rem;
  height: auto;


}
.bottom-cloud {
  position: absolute;
  left: 91px;
  bottom: 300px;
  width: 10rem;
  height: auto;

}
.mountain{
  position: absolute;
  height: 339px;
  width: auto;
  top: 341px;
  z-index: 4558;
  left: 239px;
}

p {

  line-height: 2;
  font-weight:normal;

}
ul{
  list-style-type: none;
}
ol {
  list-style-type: none;
}

h2{
  color: #66BFBF;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
padding-bottom: 10px;
}
h3 {
  color:#11999E;
}
a{
  color:#11999E;
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #9affed
}

.cars {
  width: 40%;
  margin:40px auto 60px auto;
}

.contact{
  padding-top: 200px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.footer1 {
  margin-top: 100px;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.copyright{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}
